---
// @ts-ignore
import { Icon } from "astro-icon";
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const features = [
  {
    title: "Secure Code Review",
    description:
      "A team of security analysts will conduct a thorough review of the source code using a combination of manual and automated techniques to uncover potential vulnerabilities.",
    icon: "cil:magnifying-glass",
  },
  {
    title: "Penetration Testing and Security Assessments",
    badge: "true",
    description:
      "Conducting regular security assessments, penetration testing, and ethical hacking to identify security weaknesses and vulnerabilities before attackers can exploit them.",
    icon: "bi:unlock",
  },
  {
    title: "Vulnerability Management",
    description:
      "Regular scanning and assessment of systems and networks to identify and prioritize vulnerabilities, along with patch management services.",
    icon: "clarity:bug-solid",
  },
  {
    title: "Phishing Campaigns & Email Security",
    description:
      "Implementation and management of email security solutions such as anti-phishing, anti-spam, and email encryption to protect against email-borne threats.",
    icon: "mdi:email-lock",
  },
  {
    title: "Threat Intelligence Services",
    description:
      "Monitoring and analysis of threat intelligence feeds to identify emerging threats, vulnerabilities, and attack trends, along with proactive threat hunting and intelligence-driven security strategies.",
    icon: "cib:hackaday",
  },
  {
    title: "Application Security",
    description:
      "We offer a comprehensive range of application security testing services to help you identify and mitigate vulnerabilities in your applications. Our services include Static Application Security Testing (SAST), Dynamic Application Security Testing (DAST), Interactive Application Security Testing (IAST), and more!",
    icon: "mdi:security",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to protect
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Protecting data, assets, reputation, and people - safeguarding what matters most.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
