---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      One Stop Cyber Security Solutions
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">

      <ul>Fortify your digital defenses with Secant Solutions for
      excellent managed cybersecurity services with industry certified professionals. 
      <li>Stay ahead of threats, stay secure.</li>
      </ul>

      </ul>
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
         href="#"
        href="https://form.jotform.com/241226848164358"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="mdi:paper-outline" />

         Get a Quote
      </Link>

    </div>
  </div>
</main>
